.wrapper{
  border-bottom: 1px solid whitesmoke;
}
ion-avatar{
  margin-right: 10px;
}
.username{
  font-size :16px;
  font-weight:800;
  padding-right: 3px;
}

.handle{
  font-size :12px;
  font-weight:500;
  padding-right: 3px;
  color:grey;
}

.tweet__image{
  border-radius: 10px;
  margin-top: 4px;
}
