<ion-header>
  <ion-toolbar>
      <div class="searchbar">
        <ion-icon color="dark" name="search-outline"></ion-icon>
        <input type="text" placeholder="search notifications">
      </div>
  </ion-toolbar>

</ion-header>

<ion-content>

        <ion-item lines="none">
          <ion-avatar slot="start">
            <img src="https://devdactic.fra1.digitaloceanspaces.com/twitter-ui/twitter-ben.jpg">
          </ion-avatar>
          <ion-label>
            <h2>Simon</h2>
            <p>Want to stay up to date with ...</p>
          </ion-label>
        </ion-item>

        <ion-item lines="none">
          <ion-avatar slot="start">
            <img src="https://images.pexels.com/photos/2832039/pexels-photo-2832039.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260">
          </ion-avatar>
          <ion-label>
            <h2>Max Lynch</h2>
            <p>I've got enough on my plate as it is, and I...</p>
          </ion-label>
        </ion-item>

        <ion-item lines="none">
          <ion-avatar slot="start">
            <img src="https://devdactic.fra1.digitaloceanspaces.com/twitter-ui/twitter-simon.jpg">
          </ion-avatar>
          <ion-label>
            <h2>Han</h2>
            <p>Ionic Vue is (finally) here...</p>
          </ion-label>
        </ion-item>

</ion-content>
