.searchbar{
  background:#e6ecf0;
  padding:5px;
  border-radius:999px;
  display:flex;
  align-items:center;
}

.searchbar>input{
  border: none;
  background: none;
  // color:#50b7f5;
  outline: none;
}

