ion-toolbar{
  --border-style:none;
}

ion-header{
  background:#fff;
}

ion-segment{
  z-index: 10;
  background:white;
}

ion-segment-button{
  text-transform: none;
}

ion-slides{
  padding:8px 0;
  border-bottom: 1px solid whitesmoke;
}

ion-avatar {
  border: 2px solid var(--ion-color-primary);
  padding: 2px;
}
